
<h2>Welcome to My Website</h2>
<h3>Images Gallery</h3>

<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">

      <a href="http://tsuka.us/wp-content/uploads/2017/11/the-dorchester-hotel-harlequin-suite-sitting-room.jpg" target="_blank">
        <div style="background-image: url(http://tsuka.us/wp-content/uploads/2017/11/the-dorchester-hotel-harlequin-suite-sitting-room.jpg);" class="img-thumbnail"></div>
      </a>
      </div>
    </div>


  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="https://www.glozine.com/wp-content/uploads/2014/09/rooftop2.jpg" target="_blank">
        <div style="background-image: url(https://www.glozine.com/wp-content/uploads/2014/09/rooftop2.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="https://www.rydges.com/accommodation/melbourne-vic/the-victoria-hotel/wp-content/uploads/sites/59/2018/01/hero-image.jpg" target="_blank">
        <div style="background-image: url(https://www.rydges.com/accommodation/melbourne-vic/the-victoria-hotel/wp-content/uploads/sites/59/2018/01/hero-image.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="http://www.hotelgalvez.com/resourcefiles/mainimages/location-of-hotel-galvez-and-spa-galveston-top.jpg" target="_blank">
        <div style="background-image: url(http://www.hotelgalvez.com/resourcefiles/mainimages/location-of-hotel-galvez-and-spa-galveston-top.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="https://www.fullertonhotels.com/uploads/9/8/1/8/98182264/the-fullerton-hotel-singapore_16_orig.jpg" target="_blank">
        <div style="background-image:url(https://www.fullertonhotels.com/uploads/9/8/1/8/98182264/the-fullerton-hotel-singapore_16_orig.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="http://www.hotel-saratoga.com/panel/web/uploads/admin/slideshow/slide-c73271ade7cc81a24209e2463ae99f6b.jpg" target="_blank">
        <div style="background-image:url(http://www.hotel-saratoga.com/panel/web/uploads/admin/slideshow/slide-c73271ade7cc81a24209e2463ae99f6b.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="http://mobile.royalsanmarcovenice.com/img/home.jpg" target="_blank">
        <div style="background-image:url(http://mobile.royalsanmarcovenice.com/img/home.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="https://s3.amazonaws.com/prassets.clubparkroyal.com/hotels/static/hotels/videos/park-royal-cancun/video.jpg" target="_blank">
        <div style="background-image:url(https://s3.amazonaws.com/prassets.clubparkroyal.com/hotels/static/hotels/videos/park-royal-cancun/video.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="https://hungryinsingapore.files.wordpress.com/2017/11/visual_03.jpg" target="_blank">
        <div style="background-image:url(https://hungryinsingapore.files.wordpress.com/2017/11/visual_03.jpg);" class="img-thumbnail"></div>
      </a>
    </div>
  </div>
</div>
    <% if @current_user.present?  %>
    welcome back <%= @current_user.email%>
    <% end %>
