/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  color: purple;
}

 nav {
  display: flex;
  font-size: 30px;
  background-color: rgba(139, 0, 0, 0.53);
  min-height: 100px;
  margin-top: 20px;
  padding-top: 25px;
  border-radius: 0.5em;
  justify-content: space-between;
}

.thumb{
  max-width: 560px;
  height: 0 auto;
}

.img-thumbnail {
  height: 179px;
  width: 100%;
  background-size: cover;
  margin-bottom: -5px;
}

.hotels{
  font-size: 20px;
  color: orange;
}

.signup {
  background-color: rgba(255, 0, 0, 0.6);
  margin-top: 40px;
}

h1{
  text-align: center;
}

.login {
  background-color: rgba(255, 0, 0, 0.6);
  margin-top: 40px;
}

.login h1{
  color: white;
}
.booking-form{
  background-color: rgba(0, 0, 255, 0.6);
  text-align: left;
}

.booking-form h3{
  text-align: center;
}

.form-details{
  text-align: center;
}
.form-img{
  background-image: url(https://image.freepik.com/free-psd/abstract-background-design_1297-73.jpg);
  max-width: auto;
  max-height: auto;
}

.hotel-form{
  background-color: rgba(139,0,139,0.4);
  margin-top: 40px;
}

.all-bookings{
  text-align: center;
  font-size: 30px;
}

.booking-details {
  width: 13em;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  border-radius: 1em;
}

.change-booking{
  text-align: center;
}
.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.btn{
  margin-top: 20px;
  margin-left: 100px;
}

.color{
  color: white;
}

.user-details{
  color: white;
  font-size: 20px;
}

.edit-booking{
  color: white;
  font-size: 30px;
  background-color: rgba(220,20,60,0.6);
  width: 350px;
  margin-left: 300px;
}
