/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


a {
  color: purple;
}


@keyframes slider {

    0%   {background-color: red;}
    25%  {background-color: yellow;}
    60%  {background-color: blue;}
    50% {background-color: green;}
    0%   {background-color: purple;}
    50%  {background-color: pink;}
    75%  {background-color: orange;}
    100% {background-color: darkred;}
}
 nav {
  display: flex;
  font-size: 30px;
  background-color: rgba(139, 0, 0, 0.53);
  min-height: 100px;
  margin-top: 20px;
  padding-top: 35px;
  border-radius: 0.5em;
  justify-content: space-between;
  animation-name: slider;
  animation-duration: 8s;
}

h3{
  color: yellow;
  text-align: center;
}

.hotel-img .thumb{
  max-width: 100%;
  max-height: 100%;
}

.img-thumbnail {
  height: 179px;
  width: 100%;
  background-size: cover;
  margin-bottom: -5px;
}

.img-thumbnail:hover{
  transform:scale(1.2);
}
.hotels{
  font-size: 20px;
  color: orange;
}

.signup {
  background-color: rgba(255, 0, 0, 0.6);
  margin-top: 40px;
}

h1{
  text-align: center;
}

.login {
  background-color: rgba(255, 0, 0, 0.6);
  margin-top: 40px;
}

.login h1{
  color: white;
}
.booking-form{
  background-color: rgba(139,0,139,0.6);
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;

}

.booking-form h3{
  text-align: center;

}

.form-details{
  text-align: center;
}
.form-img{
  background-image: url(https://image.freepik.com/free-psd/abstract-background-design_1297-73.jpg);
  max-width: auto;
  max-height: auto;
}

// .form-img h2{
//   margin-top: 20px;
// }
.booking-form-img{
  background-image: url(https://www.desktop-background.com/t/2011/02/21/161306_plain-purple-wallpaper-wallpaper-plain-purple-wallpapers-hd_1680x1050_h.jpg);
}
.hotel-form{
  background-color: rgba(139,0,139,0.4);
  margin-top: 40px;
}

.all-bookings{
  text-align: center;
  font-size: 30px;
}

.booking-details {
  width: 13em;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  border-radius: 1em;
}

.change-booking{
  text-align: center;
}
.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.btn{
  margin-top: 20px;
  margin-left: 100px;
}

.color{
  color: white;
}

.user-details{
  color: white;
  font-size: 20px;
}

.edit-booking{
  color: white;
  font-size: 30px;
  background-color: rgba(220,20,60,0.6);
  width: 350px;
  margin-left: 300px;
}
