
<h2>New Hotel</h2>

<form action="/hotels" method="post">
  <label>Name:</label>
  <input type="text" name="hotel[name]" placeholder="Alpha">
  <label>image:</label>
  <input type="url" name="hotel[image]" placeholder="https://...">

  <label>Rooms</label>
  <input type="number" name="hotel[room]" placeholder="50">

  <label>Price</label>
  <input type="number" name="hotel[price]" placeholder="$250">
  <label>Amenity</label>
  <input type="text" name="hotel[amenity]" placeholder="Spa">

  <button> Create Hotel </button>
</form>
